#The furl given here is the one hardcoded in the image at goglu6/tahoe-lafs-introducer:dev.
introducers:
  introducerNode:
    furl: pb://qlual4htpipi5fulv7g3ytax6qt77kwq@tcp:introducer-node:{{env "TAHOE_TUB_PORT"}}/3t2scaijy5ijn76uow5qc3fawi5uyppr
