#Create a file named sftp-accounts.keys to define the accounts used in the sftp client.
#
#The accounts used by the sftp clients will need to be entered as follows:
#USERNAME KEYTYPE PUBKEY ROOTCAP
#KEYTYPE can be "ssh-rsa" or "ssh-dsa"
#Tahoe lafs does not support pasword authentification after the version 1.17.0