#This file is a template for the configuration file (tahoe.cfg) of a Tahoe-LAFS SFTP client node.
#This configuration is safer than the http client.

[node]
nickname = {{.Task.Name}}
reveal-IP-address = true
web.port = 
web.static =
tub.port = disabled
tub.location = disabled

[client]
# Encoding parameters this clients will use for newly-uploaded files
shares.needed = 6
shares.happy = 3
shares.total = 14

[sftpd]
enabled = true
port = tcp:{{env "TAHOE_SSH_PORT"}}
host_pubkey_file =  /run/secrets/public_key_ssh
host_privkey_file = /run/secrets/private_key_ssh
accounts.file = /run/secrets/accounts_sftp

[storage]
enabled = false

[helper]
enabled = false
