#This file is a template for the confguration of a Tahoe-LAFS client (http) node (tahoe.cfg).
#This configuration is unsafe and mainly there for debugging purposes

[node]
nickname = {{.Task.Name}}
reveal-IP-address = true
web.port = tcp:{{env "TAHOE_WEB_PORT"}}:interface=0.0.0.0
web.static = public_html
tub.port = disabled
tub.location = disabled

[client]
# Encoding parameters this client will use for newly-uploaded files
shares.needed = 6
shares.happy = 3
shares.total = 14

[storage]
enabled = false

[helper]
enabled = false
