[node]
nickname = {{.Task.Name}}
reveal-IP-address = true
web.port = tcp:{{env "TAHOE_WEB_PORT"}}:interface=0.0.0.0
web.static = public_html
tub.port = disabled
tub.location = disabled


[client]
# Encoding parameters this client will use for newly-uploaded files
# This can be changed at any time: the encoding is saved in
# each filecap, and we can download old files with any encoding
# settings
shares.needed = 1
shares.happy = 1
shares.total = 1

[storage]
enabled = false

[helper]
enabled = false
