#The furl given here is the one hardcoded in the image at goglu6/tahoe-lafs-introducer:dev.
introducers:
  introducerNode:
    furl: pb://u7kv3jg4nyp443nsyivvfshs5z5znmyz@tcp:introducerNode:{{env "TAHOE_TUB_PORT"}}/xp4xitxmhfniw37tng7fl5y2xn3qpllo